.square {
  display: flex;
}
.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.red {
  width: 200px;
  height: 200px;
  background-color: red;
}
.green {
  width: 150px;
  height: 150px;
  background-color: green;
}
